.hero-image {
    position: relative;
    margin-bottom: 2em;
    background-image: url(../heros/Experience.JPG); 
    height: 400px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
  position: relative;
  font-size: 55px;
  text-align: center;
  display: block;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
}

